.root {
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 0;
}
.bgContainer {
  position: relative;
  width: 100%;
  height: 95vh;
  overflow: hidden;
}
.bg {
  width: auto;
  height: 100%;
  filter: brightness(40%);
  position: relative;
  top: -10rem;
  left: -15rem;
}
.crystal {
  width: 12rem !important;
  width: 6rem !important;
  opacity: 0;
  position: absolute !important;
  bottom: 10rem !important;
  right: 5% !important;
  z-index: 5;
  transform: scale(0);
  animation: crystal 1.2s 0.8s forwards;
}
.content {
  position: absolute;
  top: 25% !important;
  left: 5% !important;
  color: #fff;
}
.text1,
.text2 {
  font-size: 2.2rem !important;
  margin: 1rem 0 !important;
}
.text1 {
  position: relative;
  top: 120px;
  opacity: 0;
  animation: homeLanding 0.8s forwards;
}
.text2 {
  position: relative;
  top: 120px;
  margin: 0.3rem 0 3.5rem !important;
  opacity: 0;
  animation: homeLanding 0.8s 0.2s forwards;
}
.btn {
  padding: 0.6rem 1rem;
  border-radius: 6px;
  background-color: #039be5;
  color: #f4f4f4;
  font-weight: 600;
  position: relative;
  top: 1rem !important;
  opacity: 0;
  transition: 300ms;
  animation: homeLanding 0.8s 0.4s forwards;
}

.btn:hover {
  background-color: #0288d1;
  border: none;
  box-shadow: 0 0 6px #00f2fe;
}

@keyframes homeLanding {
  0% {
    opacity: 0;
    top: 120;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes crystal {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (min-width: 680px) {
  .bg {
    width: 100%;
    top: 0;
    left: 0;
    height: auto;
  }
}

@media (min-width: 768px) {
  .root {
    margin-bottom: 8rem;
  }
  .bgContainer {
    height: 85vh;
  }
  .crystal {
    width: 8rem !important;
    right: 10% !important;
    bottom: 5rem !important;
  }
  .content {
    top: 30% !important;
    left: 10% !important;
  }
  .text1,
  .text2 {
    font-size: 2.7rem !important;
  }
}

@media (min-width: 1024px) {
  .crystal {
    width: 10rem !important;
    left: 70%;
    bottom: 8rem !important;
  }
  .bgContainer {
    height: 75vh;
  }
  .content {
    width: 40%;
    top: 25% !important;
    left: 35%;
  }
  .text1,
  .text2 {
    font-size: 3rem !important;
    width: 30rem;
  }
}
