.root {
  width: 100%;
  max-width: 300px;
  max-width: 300px;
  height: 500px;
  margin: 0rem 1rem 5rem;
  position: relative;
  top: 10rem;
}
.title {
  font-weight: 600;
  margin-bottom: 0.2rem !important;
}
.imgContainer {
  width: 100%;
  position: relative;
}
.decor {
  width: 230px;
  height: 170px;
  border-radius: 4px;
  background-color: #33ace4;
  position: absolute;
  top: 0;
  left: 0;
}
.img {
  width: 270px;
  height: 200px;
  border-radius: 4px;
  position: relative;
  top: 10px;
  left: 10px;
  z-index: 1;
}
.textContainer {
  width: 100%;
  position: absolute;
  bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  min-height: 12rem;
}

.description {
  text-align: left;
  margin: 1.5rem 0 3rem !important;
}

.textContainer button {
  position: absolute;
  bottom: 1rem;
}
