.root {
  height: 22rem;
  background-color: #4facfe;
  width: 90%;
  border-radius: 0.5rem;
  margin: 0 auto 1rem;
  padding: 0.5rem 1rem 0;
  position: relative;
}

.category {
  border-radius: 1rem;
  background-color: #b5eaff !important;
  margin: 0.5rem 0 !important;
}
.categoryText span {
  font-size: 1.3rem;
  padding: 0 1rem;
}

@media (min-width: 1024px) {
  .root {
    width: 25rem;
    margin: 0 1rem;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 5rem;
  }
}
