.root {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: #c8f4ff;
  margin-top: 8rem;
  position: relative;
  padding: 2rem 1rem;
  border-top: 2px solid #0294b9;
}

.list {
  list-style: none;
}

.listItem p {
  margin: 0.2rem;
}
